<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="h.css">
</head>
<body>
    <section class="u-clearfix u-white u-section-2" id="sec-d58b">
        <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
          <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
          <div class="u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1" data-pswp-uid="1">
            <div class="u-gallery-inner u-gallery-inner-1">
              <div class="u-effect-fade u-gallery-item" >
                <div class="u-back-slide" >
                  <img class="u-back-image u-expanded" src="a.png">
                </div>
                
              </div>
              <div class="u-effect-fade u-gallery-item" >
                <div class="u-back-slide" >
                  <img class="u-back-image u-expanded" src="b.jpg">
                </div>
                
              </div>
              <div class="u-effect-fade u-gallery-item" >
                <div class="u-back-slide" >
                  <img class="u-back-image u-expanded" src="c.jpg">
                </div>
                
              </div>
              <div class="u-effect-fade u-gallery-item" >
                <div class="u-back-slide" >
                  <img class="u-back-image u-expanded" src="d.jpg">
                </div>
                
              </div>
              <div class="u-effect-fade u-gallery-item" >
                <div class="u-back-slide" >
                  <img class="u-back-image u-expanded" src="e.jpg">
                </div>
                
              </div>
              <div class="u-effect-fade u-gallery-item" >
                <div class="u-back-slide" >
                  <img class="u-back-image u-expanded" src="f.jpg">
                </div>
                
              </div>
            </div>
          </div>
          
          
          
          
          
          
          <div class="u-align-left u-container-style u-group u-palette-1-base u-group-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
              <h1 class="u-fb ">Portföyümüz</h1>
              <p class="u-fb ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda obcaecati expedita soluta aliquid earum dolorum ex nobis non perspiciatis. Ipsum autem porro expedita officiis dolores pariatur laboriosam cumque quas nisi. </p>
              
            </div>
          </div>
        </div>
      </section>
</body>
</html>